
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-dark_blue);
    border-radius: 100px;
    border: 2px solid var(--c-dark_blue);
    padding: 1em;
    
    &:hover {
        background-color: var(--c-light_blue);
        border: 2px solid var(--c-light_blue);

    }

    svg {
        fill: white;
    }
}
