header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--c-background);  
    //margin-top: 0px;  
    margin-bottom: 50px;
        
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 95%;
        
        h1 a {   
            font-family: var(--f-title);
            font-size: 2em;
            color: white;
            text-decoration: none;
        }

        .btn--hidden {
            display: none;
        }
        
        .btn--command {
            margin-top: 3.5em;
            margin-right: 2em;
        }
        
        .btn--disabled {
            background-color: #ffffff;
            border: 1px solid rgba(209, 200, 200, 0.8);
            border-radius: 5px;
            font-size: 20px;
            height: 17em;
            padding: 20px;
            opacity: 50%;
            text-align: center;
        }
        
        .cart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            //width: auto;
            
            .svg_bag {
                position: relative;
                width: 68px;
                height: 68px;
                margin: auto;
                
                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 4px 8px;
                    border-radius: 50%;
                    background-color: #bd4848;
                    color: white;
                    //transform: translate(50%, -50%);
                }
            }

            &_buy {
                font-size: .8em;
                padding: 5px 15px;
                color: var(--c-light_blue);
                background: var(--c-dark_blue);
                border: none;
                border-radius: 1px;
                text-transform: uppercase;
                letter-spacing: 1px;
            
                &:hover {
                  color: #8a4fff;
                  background: var(--c-light_blue);
                }
              }
        }
    }
}

.filter {
    margin-bottom: 50px;
}



