header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--c-background);  
    //margin-top: 0px;  
    margin-bottom: 50px;
        
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 95%;
        
        h1 a {   
            font-family: var(--f-title);
            font-size: 2em;
            color: white;
            text-decoration: none;
        }

        svg {
            .st0{fill:#dddddd;}
            .st1{fill:#b6c7b5;}
            .st2{fill:#a3a38c;} 
            .st3{fill:#8d8582;} 
            .st4{fill:#75706e;} 
            .st5{fill:#7a7979;}
        }

        .actif {
            .st0{fill:#B4DEB2;}
            .st1{fill:#86C983;}
            .st2{fill:#B5B51F;} 
            .st3{fill:#FF7C48;} 
            .st4{fill:#FF4C04;} 
            .st5{fill:#98981A;}
        }
        
        .cart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .svg_bag {
                position: relative;
                width: 68px;
                height: 68px;
                margin: auto;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: var(--c-alert);
                    font-family: var(--f-text);
                    color: white;
                    
                    &.hidden{
                        display: none;
                    }
                }
            }

            &_buy {
                font-size: .8em;
                padding: 5px 15px;
                color: var(--c-light_blue);
                background: var(--c-dark_blue);
                border: none;
                border-radius: 1px;
                text-transform: uppercase;
                letter-spacing: 1px;
            
                &:hover {
                  color: #8a4fff;
                  background: var(--c-light_blue);
                }
              }
        }
    }
}

.filter {
    margin-bottom: 50px;
}



