header {
    display: flex;
    width: 100%;
    justify-content: center;
    //background-color: #8a4fff;    
    background-color: #90F3FF;    
    margin-bottom: 50px;
        
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6em;
        width: 95%;
        
        h1 a {   
            font-family: 'Italiana', serif;
            font-size: 2em;
            color: white;
            text-decoration: none;
        }

        .btn--hidden {
            display: none;
        }
        
        .btn--command {
            margin-top: 3.5em;
            margin-right: 2em;
        }
        
        .btn--disabled {
            background-color: #ffffff;
            border: 1px solid rgba(209, 200, 200, 0.8);
            border-radius: 5px;
            font-size: 20px;
            height: 17em;
            padding: 20px;
            opacity: 50%;
            text-align: center;
        }
        
        .command{
            display: inline-flex;
        }
        
        .items {
            align-items: center;
            background-color: #bd4848;
            border-radius: 100px;
            height: 1.5em;
            justify-content: center;
            margin-left: 2em;
            margin-top: 1em;
            position: absolute;
            width: 1.5em;
        }
        
        .nbItems {
            font-size: 18px;
            align-items: center;
            color: white;
            margin-left: 2.2em;
            margin-top: 0.8em;
            justify-content: center;
            position: absolute;
        }
    }
}

.filter {
    margin-bottom: 50px;
}



