.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;    
    
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: auto;
        grid-gap: 5px;
        margin-bottom: 50px;

        @media only screen and (min-width: 468px){
            grid-template-columns: 1fr 1fr;   
            grid-gap: 30px;
        }
        @media only screen and (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;   
            grid-gap: 30px;
        }
        @media only screen and (min-width: 960px){
            grid-template-columns: 1fr 1fr 1fr 1fr;   
        }
        @media only screen and (min-width: 1450px){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        }
        @media only screen and (min-width: 1750px){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
        }
    }
}
