@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
html {
  --c-background: #90F3FF;
  --c-dark_blue: #8a4fff;
  --c-light_blue: #e5ecf4;
  --f-title: "Italiana", serif;
  --f-text: "Raleway", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--c-background);
  margin-bottom: 50px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 95%;
}

header nav h1 a {
  font-family: var(--f-title);
  font-size: 2em;
  color: white;
  text-decoration: none;
}

header nav .btn--hidden {
  display: none;
}

header nav .btn--command {
  margin-top: 3.5em;
  margin-right: 2em;
}

header nav .btn--disabled {
  background-color: #ffffff;
  border: 1px solid rgba(209, 200, 200, 0.8);
  border-radius: 5px;
  font-size: 20px;
  height: 17em;
  padding: 20px;
  opacity: 50%;
  text-align: center;
}

header nav .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .cart .svg_bag {
  position: relative;
  width: 68px;
  height: 68px;
  margin: auto;
}

header nav .cart .svg_bag span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #bd4848;
  color: white;
}

header nav .cart_buy {
  font-size: .8em;
  padding: 5px 15px;
  color: var(--c-light_blue);
  background: var(--c-dark_blue);
  border: none;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header nav .cart_buy:hover {
  color: #8a4fff;
  background: var(--c-light_blue);
}

.filter {
  margin-bottom: 50px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

.page-container_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: auto;
  grid-gap: 5px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 468px) {
  .page-container_wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .page-container_wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media only screen and (min-width: 960px) {
  .page-container_wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1450px) {
  .page-container_wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1750px) {
  .page-container_wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

li {
  list-style-type: none;
}

.card {
  position: relative;
  width: 100%;
  height: 368px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: -5px 5px 5px var(--c-light_blue);
          box-shadow: -5px 5px 5px var(--c-light_blue);
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--c-light_blue);
  -webkit-transform: skewY(345deg);
          transform: skewY(345deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  -webkit-transform: skewY(390deg);
          transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 8em;
  color: var(--c-dark_blue);
}

.card_img {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  z-index: 1;
  mix-blend-mode: multiply;
}

.card_img img {
  max-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card_img img {
  max-width: 80%;
}

.card_content {
  position: relative;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_content h3 {
  font-size: 15px;
  color: var(--c-dark_blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card_price {
  font-size: 24px;
  color: var(--c-dark_blue);
  letter-spacing: 1px;
}

.card_buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: var(--c-light_blue);
  text-decoration: none;
  background: var(--c-dark_blue);
  border: none;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card_buy:hover {
  color: var(--c-dark_blue);
  background: var(--c-light_blue);
}

.card:hover .card_content .card_buy {
  top: 0;
  opacity: 1;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--c-dark_blue);
  border-radius: 100px;
  border: 2px solid var(--c-dark_blue);
  padding: 1em;
}

.more:hover {
  background-color: var(--c-light_blue);
  border: 2px solid var(--c-light_blue);
}

.more svg {
  fill: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--f-text);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: #effffa;
}

main {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.arrow {
  width: 4em;
}

.load {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vw;
}

footer {
  color: white;
  margin-top: 10px;
  height: 5rem;
  padding-top: 5em;
  text-align: center;
  width: 100%;
  background-color: #90F3FF;
}
/*# sourceMappingURL=style.css.map */